*{
    font-family: "Inter", sans-serif;
}
.hello{
    color:rgb(2, 149, 149);
}
.bottom{
    color:rgb(2, 149, 149);
    font-weight: 700;
}
.small{
    color: gray;
    font-size:x-small;
}
.highlight{
    background-color: #f7faff;
}
.key{
    margin-top: 75px;
}
.texting{
    font-weight: 600;
    font-size: 20px;;
}
